html{
    font-size: 62.5%;
}
body{
    margin: 0;
}
header{
    height: 6.5rem;
    background: url(https://via.placeholder.com/350x65/CCCCCC/CCCCCC);
}
header ul{
    margin-top: 0; 
    padding-top:3.7rem ;
}
ul{
    list-style: none;
    padding: 0;
}
.d{
    display: none;
}
header li{
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: center;
}
.flex2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    font-size: 1.6rem;
}
article{
    width: 15rem;
    border: 0.1rem solid black;
}
i{
    position: absolute;
    margin: 0 0 0 -1.7rem;
    font-size: 1.6rem;
}
.fa-solid{
    color: yellow;
}
article h2{
    text-align: center;
}
article ul{
    margin: 0;
}
.tablette{
    display: none;
}
.desktop{
    display: none;
}
main .flex{
    justify-content: center;
}
aside, section{
    border: solid 1px black;
    width: 97%;
    margin: 1rem auto;
}
p{
    font-size: 1.6rem;
}
footer{
    border: 1px solid black;
    width: 97%;
    margin: 0 auto;
    text-align: center;
}
footer img{
    display: block;
    width: 10rem;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .tablette{
        display: block;
        margin: 0 auto;
    }
    main>div>ul>li:first-child{
        margin: 0 auto;
    }
}
@media screen and (min-width: 1200px) {
    .desktop{
        display: block;
    }
    main>div>ul>li{
        margin: 0 auto;
    }  
    .container {
        display: grid;
        grid-template-areas:
            "sidebar section section"
            "sidebar content article";
        grid-template-columns: 1fr 3fr;
        gap: 20px;
      }
      section{
          grid-area: section;
      }
      ul{
        grid-area: content;
      }
      .article{
          width: 24rem;
          margin: 1rem auto;
      }
      .article img{
          width: 100%;
          height: 12rem;
      }
      .d{
          display: block;
          margin: 1rem;
          box-sizing: border-box;
          padding: 0.3rem;
          grid-area:article;
      }
      aside {
        grid-area: sidebar;
        box-sizing: border-box;
        padding: 1rem;
      }
      footer{
        width: 99.1%;
      }
    }